[submodule "People250"]
	path = People250
	url = https://github.com/Alf4ed/People250.git
[submodule "Evaluation"]
	path = Evaluation
	url = https://github.com/NutellaSandwich/4th-Year-Project-Evaluations
